spring:
  application:
    name: lovable
    description: this is a clone application of lovable

  datasource:
    url: jdbc:postgresql://localhost:9000/testDB?options=-c%20TimeZone=UTC
    username: testUser
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc.time_zone: UTC